# R files
.Rhistory
.Rdata
.RData
.Rproj.user/
*.Rproj
.DS_Store

# RStudio
.Rproj.user
.Rbuildignore

# IDE
.vscode/
.idea/

# Folders to ignore
literatura/
clases/

# Temporary files
*.tmp
*.swp
*~

# Other files
*.csv
datos/Asistencia-anual-2024.rar
*.pdf
*.xlsx